{% extends 'website/index.html' %}

{% block exstyle %}
    <link rel="stylesheet" href="../../../static/style1.css">
{% endblock exstyle %}


{% block content %}

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <h3>Login Here</h3>
    <form action="" method="POST">
        {% csrf_token %}

        <label for="username">Username</label>
        <input type="text" placeholder="Enter the Email" id="username" name="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password">

        <input type="submit" id="submit" value="submit">
        <div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
    </form>
{% endblock content %}